/* front contact */
div.frontact div { text-align: right; padding: 0 4px 3px 24px; }

div.frontact { 
	border: 1px dashed #909090;
	padding: 4px 2px 4px 2px; 
	margin: 5px;
	/* padding-top: 50px; */	
	background: url(images/smallstrip.png); 
	_background: transparent; /* ie6 hack */ 
	min-width: 195px;
	_width: 340px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px; 	
}	

/* Common Icons */
/*
div.frontact #address:hover  	{ background: url(images/home.gif)	no-repeat top left; }
div.frontact #mail:hover  		{ background: url(images/contact.gif)	no-repeat top left; }
*/
div.frontact #address	{ background: url(images/con_address.png) no-repeat 2px top; }
div.frontact #tel  			{ background: url(images/con_tel.png)	no-repeat 2px top; }
div.frontact #fax  			{ background: url(images/con_fax.png)	no-repeat 2px top; }
div.frontact #mail  		{ background: url(images/emailButton.png) no-repeat 2px top; }
div.frontact #mail, div.frontact #tel, div.frontact #fax { min-height: 20px; }

div.frontact div:hover,
div.frontact div#address:hover,
div.frontact div#tel:hover,
div.frontact div#fax:hover,  
div.frontact div#mail:hover
{ background-color: yellow; color: black; }
